In [ ]:
a = 10     #intezer
b = 10.5    #float
c = "hello world"   #string
d = True        #boleeen

print(a)
a = 10     #intezer
b = 10.5    #float
c = "hello world"   #string
d = True        #boleeen

print(a)
print(b)
print(c)
print(d)



print(b)
print(c)
print(d)

print(a,b,c,d)

10
10
10.5
hello world
True
10.5
hello world
True
10 10.5 hello world True

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
print(type(b))

<class 'float'>

In [ ]:
print(type(c))

<class 'str'>

In [ ]:
print(type(d))

<class 'bool'>

In [ ]:
hello1 = "hello world"
hello_world = "hello world"

In [ ]:
a = 10
b = 3
c = a+b

print(c)

c=a*b
print(c)

c=a/b
print(c)

13
30
3.3333333333333335

In [ ]:
c = a**b

In [ ]:
c = a**b
print(c)

1000

In [ ]:
c = a//b
print(c)

3

In [ ]:
c = a%b
print(c)

1

In [ ]:
a = " helllo "
b = "world"
c = a+b
print(c)
c = (a*2)
print(c)

 helllo world
 helllo  helllo

In [ ]:
a = 'hello world'
b = "hello world"
c = '''hello world'''

print(type(a), type(b), type(c))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
c = 'hello world'
print(type(c))

<class 'str'>

In [ ]:
a = "10"
b = "20"
print(a+b)

1020

In [1]:
a = True
b = False
c = a + b
print(c)

1

In [2]:
a = True
b = False
c = a * b
print(c)

0

In [3]:
#user defined variable
a = input()

12

In [4]:
a = input("enter a = ")
print(a)

enter a = 23
23

In [5]:
a = input("enter a = ")
b = input("enter b = ")
c = a+b
print(c)

enter a = 30
enter b = 40
30 40

In [6]:
a = int(input("enter a = "))
b = int(input("enter b = "))
c = a+b
print(c)

enter a = 1
enter b = 3
4

In [7]:
a = float(input("enter a = "))
b = float(input("enter b = "))
c = a+b
print(c)

enter a = 12.3
enter b = 3
15.3

In [2]:
p = int(input("enter principle = "))
t = float(input("enter time = "))
r = float(input("enter rate = "))
c = p*t*r/100
print("the value of simple intrest is",c)

enter principle = 10000
enter time = 23
enter rate = 45
the value of simple intrest is 103500.0

In [5]:
p = int(input("enter phycis marks = "))
b = float(input("enter bio marks = "))
m = float(input("enter math marks = "))
e = float(input("enter english marks"))
total = p+b+m+e
percentage = total*100/400
print("the percentage of total is ",percentage)
print("the total marks is ", total)

enter phycis marks = 100
enter bio marks = 50
enter math marks = 90
enter english marks34
the percentage of total is  68.5
the total marks is  274.0

In [6]:
# int to str conversion str() int() float() bool()
a = 10
b = str(a)
b

'10'

In [7]:
a = "10"
b = int(a)
b

10

In [10]:
a = 0
b = bool(a)
b

False

In [11]:
a = ""
b = bool(a)
b

False

In [12]:
a = 123
b = bool(a)
b

True

In [17]:
name = input("enter name = ")
age = int(input("enter age = "))
add = input("enter addeess = ")

info = "hello world i am " + name + " i am from " + add + " i am " + str(age) 
print(info)

enter name = sam
enter age = 12
enter addeess = sad
hello world i am sam i am from sad i am 12