In [1]:
# #Dict
# -Indexing
# -Multiple and duplicate data
# -ordered
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>}

In [3]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(d['a'])
print(d['b'])

Apple
Ball

In [6]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat','C':'cat'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'C': 'cat'}

In [7]:
# create a dictionary
d ={}
type(d)

dict

In [8]:
d = dict()
type(d)

dict

In [9]:
# Add values
d = {}
d['a']='Apple'
d['b']='BAll'
d['c']='cat'
d['d']='dog'
d

{'a': 'Apple', 'b': 'BAll', 'c': 'cat', 'd': 'dog'}

In [10]:
d = {'a':'Apple','b':'Ball','c':'cat'}
d['a']='Ant'
d

{'a': 'Ant', 'b': 'Ball'}

In [12]:
d = {'a':'Apple','b':'Ball','c':'cat'}
for i in d:
    print(i)

a
b
c

In [14]:
d = {'a':'Apple','b':'Ball','c':'cat'}
for i in d.values():
    print(i)

Apple
Ball
cat

In [16]:
d = {'a':'Apple','b':'Ball','c':'cat'}
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'cat')

In [17]:
# conver list into dictionary
d = [['a','ant'],['b','ball'],['c','cat']]
dict(d)

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [18]:
data ={}
n = int(input("enter n= "))
for i in range(n):
    name = input("enter name ")
    phone = input("enter phone number")
    data[name] = phone
    
    
print(data)

enter n= 2
enter name sam
enter phone number123
enter name ram
enter phone number456
{'sam': '123', 'ram': '456'}

In [20]:
# no list as key dict

In [21]:
# list inside dictionary
data = {"ram":[234,456],'shyam':[324,768]}
data

{'ram': [234, 456], 'shyam': [324, 768]}

In [23]:
data ={}
phone =[]
n = int(input("enter n= "))
for i in range(n):
    name = input("enter name ")
    ncell_phone = input("enter Ncellphone number")
    ntc_phone = input("enter ntc number ")
    data[name] = [ncell_phone,ntc_phone]
print(data)

enter n= 2
enter name sandy
enter Ncellphone number123
enter ntc number 234
enter name toyota
enter Ncellphone number445
enter ntc number 223
{'sandy': ['123', '234'], 'toyota': ['445', '223']}

In [26]:
print("Ntc number of ram",data['sandy'][1])

Ntc number of ram 234

In [27]:
data = {
    'name':['ram','shyam','hari'],
    'age' :[78,65,18],
    'add' :['Dhapakhel','Lalitpur','Bhaktapur']
}

{'name': ['ram', 'shyam', 'hari'],
 'age': [78, 65, 18],
 'add': ['Dhapakhel', 'Lalitpur', 'Bhaktapur']}

In [29]:
data ={'name':[],
       'age' :[],
       'add' :[]
      }
n = int(input("enter n :"))
for i in range(n):
    name = input("enter name ")
    age = int(input("enter age "))
    add = input("enter address ")
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
    
print(data)

enter n :2
enter name sa
enter age 12
enter address asd
enter name sad
enter age 23
enter address asd
{'name': ['sa', 'sad'], 'age': [12, 23], 'add': ['asd', 'asd']}

In [1]:
# details of ram
l = []
data = {
    'name':['ram','shyam','hari'],
    'age' :[78,65,18],
    'add' :['Dhapakhel','Lalitpur','Bhaktapur']
}

print("name:",data['name'][0])
print("age:",data['age'][0])
print("address:",data['add'][0])

name: ram
age: 78
address: Dhapakhel

In [4]:
# WAP to edit and delete above program
data['name'][0]="messi"
data['age'][0]=18
data['add'][0]= "jawlakhel"
print("name:",data['name'][0])
print("age:",data['age'][0])
print("address:",data['add'][0])

#delete program
del data['add']
print(data)

name: messi
age: 18
address: jawlakhel
{'name': ['messi', 'shyam', 'hari'], 'age': [18, 65, 18]}

In [36]:
# dict inside dict
data= {
    'physics':{'ptr':25,'th':60},
    'Chemistry':{'ptr':25,'th':60},
    'MATH':68
    
    
}

In [37]:
print(data['physics']['ptr'])
print(data['physics'])
print(data['MATH'])

25
{'ptr': 25, 'th': 60}
68

In [8]:
# WAP to create dict inside dict by user with crud
# college - student - student id, student name, teacher - teacher id, teacher name 
college = {
    'student':{'studentid':1 ,'studentname': 'Sameer'},
    'teacher':{'teacherid:':5, 'Teachername:': 'hari'},
    'staff':{'staffid:':9,'Staffname':'Deeya'}

}
print(college['student']['studentname'])

Sameer

In [1]:
data={}
n = int(input("enter the number of the data"))
for i in range(1,n+1):
    name = input("enter name ")
    age = input("enter age ")
    address = input("enter address ")
    j = input("enter the j :")
    data[j]={'name':name, 'age':age, 'address':address}
    
print(data)

enter the number of the data2
enter name sameer
enter age 45
enter address dhapakhel
enter the j :student
enter name tiger
enter age 34
enter address bardiya
enter the j :animal
{'student': {'name': 'sameer', 'age': '45', 'address': 'dhapakhel'}, 'animal': {'name': 'tiger', 'age': '34', 'address': 'bardiya'}}

In [4]:
# add
data[3] = {'name':'Hari', 'age':45,'address':'ghana'}
data

{1: {'name': 'sam', 'age': '23', 'address': 'asd'},
 2: {'name': 'rem', 'age': '34', 'address': 'rete'},
 3: {'name': 'Hari', 'age': 45, 'address': 'ghana'}}

In [5]:
# update
data[1]['address']='Dhapakhel'
data

{1: {'name': 'sam', 'age': '23', 'address': 'Dhapakhel'},
 2: {'name': 'rem', 'age': '34', 'address': 'rete'},
 3: {'name': 'Hari', 'age': 45, 'address': 'ghana'}}