In [1]:
# python collection
# -list
# -tuple
# -dictionary
# -set

In [2]:
# list 
# - Indexing
# _Duplicate and multiple values
# -ordered
# -mutable

In [3]:
l = list()
l = []

In [4]:
a = [1,2,3,4,5,6,7,8,9]
b = ["apple","Ball","cat","dog","fish"]
print(type(a))

<class 'list'>

In [6]:
a = [1,2,3,4,5,6,7,8,9]
b = ["apple","Ball","cat","dog","fish"]
print(a[0])
print(a[0:5])
print(b[0:5:2])

1
[1, 2, 3, 4, 5]
['apple', 'cat', 'fish']

In [7]:
b = ["apple","Ball","cat","dog","fish","apple","Ball"]
b

['apple', 'Ball', 'cat', 'dog', 'fish', 'apple', 'Ball']

In [8]:
# + *
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
a = [1,2,3,4]
b = 2
c = a*b
print(c)

[1, 2, 3, 4, 1, 2, 3, 4]

In [12]:
l = []
n = int(input("enter n = :"))
for i in range(n):
    x = int(input("enter x = "))
    l = l + [x]
print(l)
print("the sum",sum(l))
print("the max = ",max(l))
print("the min = ",min(l))
print("the average = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

enter n = :4
enter x = 12
enter x = 23
enter x = 45
enter x = 56
[12, 23, 45, 56]
the sum 136
the max =  56
the min =  12
the average =  34.0
[12, 23, 45, 56]
[56, 45, 23, 12]

In [13]:
b = ["apple","Ball","cat","dog","fish","apple","Ball"]
b.sort()
print(b)

['Ball', 'Ball', 'apple', 'apple', 'cat', 'dog', 'fish']

In [14]:
# loop in list
b = ["apple","Ball","cat","dog","fish","apple","Ball"]
for i in b:
    print(i)

apple
Ball
cat
dog
fish
apple
Ball

In [16]:
i = 0
b = ["apple","Ball","cat","dog","fish","apple","Ball"]
l = len(b)
while i <l:
    print(b[i])
    i = i+1

apple
Ball
cat
dog
fish
apple
Ball

In [17]:
# insert values
# append() insert() extend

# Delete values
# del remove() pop()

In [20]:
a = ["tan"]
a.append('apple')
a.append('ball')
a.append('dog')
a.append('cat')
a
a.append("rat")
a
a.delete()

['tan', 'apple', 'ball', 'dog', 'cat', 'rat']

In [22]:
l = []
n = int(input("enter n = :"))
for i in range(n):
    x = int(input("enter x = "))
    l.append(x)
print(l)

enter n = :3
enter x = 12
enter x = 12
enter x = 12
[12, 12, 12]

In [24]:
#insert()
b = ["apple","Ball","cat","dog","fish"]
b.insert(2,'Apple')
b

['apple', 'Ball', 'Apple', 'cat', 'dog', 'fish']

In [25]:
# extend()
a = [1,2,3]
b = [4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [27]:
# Delete values
# del remove() pop()

b = ["apple","Ball","cat","dog","fish"]
del b[0]
print(b)

['Ball', 'cat', 'dog', 'fish']

In [42]:
# b = ["apple","Ball","cat","dog","fish"]

# del b[0:3]
# b
a = [1,2,3,4,5,6]
a.remove(2)
a

[1, 3, 4, 5, 6]

In [34]:
a = ["apple","Ball","cat","dog","fish"]
a.remove("apple")
a
a.remove("cat")
a

['Ball', 'dog', 'fish']

In [39]:
b = ["apple","Ball","cat","dog","fish","apple","apple"]
c = b.count("apple")
for i in range(c):
    b.remove("apple")
print(b)

['Ball', 'cat', 'dog', 'fish']

In [40]:
a = ["apple","Ball","cat","dog","fish"]
a.pop(2)
print(a)

['apple', 'Ball', 'dog', 'fish']

In [1]:
# list insside list
a = [[1,2,3,4],
     [4,5,6],
     [7,8,9]]
a

[[1, 2, 3, 4], [4, 5, 6], [7, 8, 9]]

In [2]:
a[0]

[1, 2, 3, 4]

In [4]:
a[1]
a[2]

[7, 8, 9]

In [5]:
a[0][0]

1

In [6]:
a[2][1]

8

In [10]:
a = [["ram",24,"kathmandu"],["sameer",20,"Lalitpur"],["shyam",14,"himandu"]]
print(a[0])
print(a[0][0])
print(a[1])
print(a[1][0])

['ram', 24, 'kathmandu']
ram
['sameer', 20, 'Lalitpur']
sameer

In [13]:
l = []
n = int(input("enter number of people"))
for i in range(n):
    name = input("enter name = ")
    age = input("enter age = ")
    add = input("enter address = ")
    info = [name,age,add]
    l.append(info)
print(l)

enter number of people2
enter name = sam
enter age = 23
enter address = dsa
enter name = sae
enter age = 23
enter address = svd
[['sam', '23', 'dsa'], ['sae', '23', 'svd']]

In [14]:
l = [["ram",24,"kathmandu"],["sameer",20,"Lalitpur"],["shyam",14,"himandu"]]
# add new value
l.append(["harry",45,'new york','usa'])
l

[['ram', 24, 'kathmandu'],
 ['sameer', 20, 'Lalitpur'],
 ['shyam', 14, 'himandu'],
 ['harry', 45, 'new york', 'usa']]

In [16]:
# update value
l[0] = ['reddy',29,'Austria']
l

[['reddy', 29, 'Austria'],
 ['sameer', 20, 'Lalitpur'],
 ['shyam', 14, 'himandu'],
 ['harry', 45, 'new york', 'usa']]

In [17]:
l[0][0]='Ramu prasad'
l

[['Ramu prasad', 29, 'Austria'],
 ['sameer', 20, 'Lalitpur'],
 ['shyam', 14, 'himandu'],
 ['harry', 45, 'new york', 'usa']]

In [18]:
del l[0]
l

[['sameer', 20, 'Lalitpur'],
 ['shyam', 14, 'himandu'],
 ['harry', 45, 'new york', 'usa']]

In [23]:
c = 0
data = [['Ramu', 29, 'Austria'],
        ['sameer', 20, 'Lalitpur'],
 ['sameer', 20, 'Lalitpur'],
 ['shyam', 14, 'himandu'],
 ['harry', 45, 'new york']]

name = input("enter name :")
for i in data:
    if i[0].lower()==name.lower():
        print(i)
        c = c+1
if c ==0:
    print("name not found")
        
else:
    print(c,"no of rows of found")

enter name :messi
name not found

In [27]:
a = ["Ram","Shyam","hari",'thuram','Ram']
if "Ram" in a:
    print('yes')
    print(a.count("Ram"))
else:
    print("no name not found")

yes
2

In [1]:
# WAP to create matrix taking no of rows, columns and data as inputs
# WAP to convert string into list inside list eg
#split()
# Apple 300 1 300 yesma chai convert matra garni 
# banana 200 2 400
#     to
#     [['Apple',300,1,300],
#     ['banana', 200, 2, 400]]
# WAP to create result management system in list inside list and perform CRUD

In [1]:
# Question no.1
# WAP to create matrix taking no of rows, columns and data as inputs
l =[]
rows = int(input("enter the number of the rows :"))
columns = int(input("enter the number of the columns :"))

for i in range(rows):
    y=[]
    for j in range(columns):
        data = int(input("enter the data :"))
       
        y.append(data) 
    l.append(y)
    print("\n")   
    print(l)

enter the number of the rows :2
enter the number of the columns :4
enter the data :1
enter the data :2
enter the data :3
enter the data :4


[[1, 2, 3, 4]]
enter the data :5
enter the data :6
enter the data :7
enter the data :8


[[1, 2, 3, 4], [5, 6, 7, 8]]

In [11]:
#question number 2
# WAP to convert string into list inside list eg
#split()
# Apple 300 1 300 yesma chai convert matra garni 
# banana 200 2 400

string1 ' Banana, 200 2 400 '
string2  'Apple,  100 4 400 '

list1 = string1.split()
list2 = string2.split()

print(list1)
print(list2)

SyntaxError: invalid syntax (1916531548.py, line 1)

In [1]:
# WAP to create result management system in list inside list and perform CRUD