In [1]:
# loop
# for loop
# while loop

In [2]:
# range(5)           0,1,2,3,4  for(i=0; i<5; i++)
# range(1,5)         1,2,3,4
# range(1,10,2)      1,3,5,7,9,

In [4]:
for i in range(5):
    print(i+1,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [6]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [7]:
for i in range(1,10,2):
    print(i,"Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world

In [11]:
n = int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i," =",n*i)

enter n = 4
4 * 1  = 4
4 * 2  = 8
4 * 3  = 12
4 * 4  = 16
4 * 5  = 20
4 * 6  = 24
4 * 7  = 28
4 * 8  = 32
4 * 9  = 36
4 * 10  = 40

In [19]:
s=0
n= int(input("enter n = "))
for i in range(n):
    x = int(input("enter x ="))
    s=s+x
    print(s)

enter n = 2
enter x =1
1
enter x =2
3

In [26]:
s=""
n= int(input("enter n = "))
for i in range(n):
    x = input("enter x =")
    s=s+x+"  "
print(s)

enter n = 2
enter x =app
enter x =le
app/n le/n

In [32]:
s = ""
n = int(input("enter n"))
for i in range(n):
    x = input("enter name ")
    y = input("enter number ")
    s = s + x + " "+ y +'\n'
print(s)

enter n2
enter name sam
enter number 123
enter name ewm
enter number 456
sam 123
ewm 456

In [35]:
fact = 1
n = int(input("enter n"))
for i in range(1,n+1):
    fact = fact*i
    print(fact)

enter n5
1
2
6
24
120

In [1]:
# WAp to create a billing system
# name
# price
# qty
# total
# grand total
grand_total = 0
goods = int(input("enter the  total number types of goods"))
for i in range(1,goods+1):
    name = input("enter the name of good :")
    price = int(input("enter the a unit price of the good :"))
    quantity = int(input("enter the total quantity of the goods :"))
    total = price * quantity
    grand_total = grand_total + total
    print("Unit price of",name," =Rs. ",price,"\nquantity is= ",quantity,"\ntotal = RS. ",total, "\n")
print("The grand total amount is Rs. ",grand_total)

enter the  total number types of goods2
enter the name of good :apple
enter the a unit price of the good :3
enter the total quantity of the goods :4
Unit price of apple  =Rs.  3
quantity is=  4
total = RS.  12

enter the name of good :bananana
enter the a unit price of the good :100
enter the total quantity of the goods :1
Unit price of bananana  =Rs.  100
quantity is=  1
total = RS.  100

The grand total amount is Rs.  112

In [1]:
bill = ""
grand_total = 0
goods = int(input("enter the  total number types of goods"))
for i in range(1,goods+1):
    name = input("enter the name of good :")
    price = int(input("enter the a unit price of the good :"))
    quantity = int(input("enter the total quantity of the goods :"))
    total = price * quantity
    bill = bill + name+ " price is "+str(price)+ " quantity is" + str(quantity) + " total is " + str(total)+ "\n"
    grand_total = grand_total + total
print(bill)
print("The grand total amount is Rs. ",grand_total)

enter the  total number types of goods2
enter the name of good :applw
enter the a unit price of the good :12
enter the total quantity of the goods :12
applw price is 12 quantity is12 total is 144

enter the name of good :qdlkq
enter the a unit price of the good :12
enter the total quantity of the goods :12
applw price is 12 quantity is12 total is 144
qdlkq price is 12 quantity is12 total is 144

The grand total amount is Rs.  288

In [2]:
# for loop in str
a = "apple"
for i in a:
    print(i,"hello ")

a hello
p hello
p hello
l hello
e hello

In [4]:
a = "hello world. i am python."
for i in a:
    if i!= ".": 
        print(i,end = "")

hello world i am python

In [5]:
# control statement
# continue
# break

In [8]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [4]:
a = "hello world. i am python."
for i in a:
    if i == ".": 
        continue
    print(i,end = "")

hello world i am python

In [5]:
a = "hello world. i am python."
for i in a:
    if i == ".": 
        break
    print(i,end = "")

hello world

In [6]:
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [17]:
# wap to detect if the given number is prime or composite
# prime = 2,3,5,7,11,13
# composite = 4,6,8,9,10


number = int(input("enter the number"))
if(number%2==1):
    print(number," is prime number")
    
else:
    print(number," is composite number")

enter the number27
27  is prime number

In [20]:
n = int(input("enter n = "))
for i in range(2,n):
    if n%i== 0:
        print(n," is composite number")
        break
else:
    print(n," is prime number")

enter n = 11
11  is prime number

In [ ]:
# while <condition>:
#     <operation>

In [2]:
a = 0
while a<5:
    print(a,"hello world")
    a = a+1

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [3]:
a = 5
while a>=0:
    print(a,"hello world")
    a = a-1

5 hello world
4 hello world
3 hello world
2 hello world
1 hello world
0 hello world

In [4]:
i = 1
n = int(input("enter the value of n"))
while i<=10:
    print(n," *",i, " = ",n*i)
    i= i +1;

enter the value of n2
2  * 1  =  2
2  * 2  =  4
2  * 3  =  6
2  * 4  =  8
2  * 5  =  10
2  * 6  =  12
2  * 7  =  14
2  * 8  =  16
2  * 9  =  18
2  * 10  =  20

In [2]:
i=0
s=0

n= int(input("enter the number of value"))
while i<n:
    a = int(input("enter a"))
    s=s+a
    i = i+1
print(s)

enter the number of value3
enter a1
1
enter a2
3
enter a3
6

In [2]:
fac = 1
i = 1
n = int(input("enter the number"))
while i<=n:
    fac=fac*i
    i=i+1
print(fac)

enter the number5
120

In [5]:
i=0
bill = ""
grand_total = 0
n = int(input("enter n"))
while i<n:
    name = input("enter name")
    price = int(input("enter price"))
    quantity = int(input("enter quantity"))
    total = price * qty
    bill = bill + name+ " price is "+str(price)+ " quantity is" + str(quantity) + " total is " + str(total)+ "\n"
    grand_total = grand_total + total
    i = i+1
print(bill)
print("The grand total amount is Rs. ",grand_total)

enter n3
enter namesam
enter price12
enter quantity12
enter nameram
enter price12
enter quantity12
enter namerem
enter price12
enter quantity12
sam price is 12 quantity is12 total is 144
ram price is 12 quantity is12 total is 144
rem price is 12 quantity is12 total is 144

The grand total amount is Rs.  432

In [6]:
# control statement
# continue
# break

In [2]:
# break
i = 0
while i<10:
    if i == 5:
        break
    print(i,end = " ")
    i=i+1

0 1 2 3 4

In [1]:
# break
i = 0
while i<10:
    if i == 5:
        i=i+1
        continue
        
       
    print(i,end = " ")
    i=i+1

0 1 2 3 4 6 7 8 9

In [1]:
n = int(input("enter the number"))
i= 2
while i<n:
    if n%i==0:
        print(n,"is compositr number")
        break
    i=i+1
else:
    print(n," number is prime")

enter the number3
3  number is prime

In [2]:
# nested for loop
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

In [6]:
print(4*" .")

 . . . .