In [1]:
#tuple
# -Indexing
# -Multiple and duplicate data
# -ordered
# -IMuatable

In [4]:
a = (1,2,3,4,5,6,7,8)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
a = ("apple","balll","cat","Dog","finatic","apple", "apple")
print(a[0])
print(a[0:7])
print(a[1:6:2])

apple
('apple', 'balll', 'cat', 'Dog', 'finatic', 'apple', 'apple')
('balll', 'Dog', 'apple')

In [13]:
gender = ("male","Female","others")

In [19]:
a = (1,2,3)
b = ("Apple",)
#a = tuple()
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [20]:
# no append(),insert(),extend()
# NO update
# No sort
# no del remove() pop()

In [22]:
tuple=()
n = int(input("enter n= "))
for i in range(n):
    x = int(input("enter x or adding data:"))
    tuple = tuple + (x,)
    
print(tuple)

enter n= 4
enter x or adding data:12
enter x or adding data:123
enter x or adding data:123
enter x or adding data:123
(12, 123, 123, 123)

In [25]:

tuple = (12, 123, 13, 123)
print(min(tuple))
print(max(tuple))
print(sum(tuple))

12
123
271

In [1]:
tup = (12, 123, 13, 123)
b = list(tup)
print(b)
del b[1]
print(b)
up = tuple(b)
print(up)

[12, 123, 13, 123]
[12, 13, 123]
(12, 13, 123)

In [30]:
# tuple inside list
l = [(1,2,3),(4,5,6,7),(9,11,12)]
l

[(1, 2, 3), (4, 5, 6, 7), (9, 11, 12)]

In [31]:
l = ([1,2,3],[4,5,6,7],[9,11,12])
l

([1, 2, 3], [4, 5, 6, 7], [9, 11, 12])

In [3]:
# tuple inside tuple
t = ((1,2,3),(4,5,6),(7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [15]:
t = ((1,2,3),(4,5,6),(7,8,9))
data = []
l = list(t)
print(l)

for i in l[0:3]:
    data.append(list(i))
    
print(data)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
# WAP TO CONVERT LIST inside list to tuple inside tuple
lis=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ups=()

tup=tuple(lis)
print(tup)
for i in tup:
    tuple(i)
    print(i)
    ups= ups+(tuple(i),)
print(ups)

([1, 2, 3], [4, 5, 6], [7, 8, 9])
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
((1, 2, 3), (4, 5, 6), (7, 8, 9))